html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-none {
    display: none;
    opacity: 0;
}

h1 {
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-weight: 300;
}

 /*=================================
 *
 *   Styles for the win sign
 *
 ================================*/

#winning {
    position: fixed;
    top: 50%;
    margin: 0 auto;

    &.show {
        display: inline-block;
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

 /*=================================
 *
 *   Styles for the deck of cards
 *
 ================================*/

.deck {
    width: 660px;
    min-height: 680px;
    background: #faa930;
    background: radial-gradient(farthest-corner at 0% 100%, #faa930 0%,#5a6afa 100%);
    background-position: left bottom;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;

    .card {
        height: 125px; 
        width: 125px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        transition: background 0.15s linear 0.15s, transform 0.3s linear, font-size 0s linear 0.15s;
        transform: rotateY(180deg);

        i.fa {
            //transform: rotateY(180deg);
            transition: transform 0.3s linear;
        }
        
        &.show {
            font-size: 33px;
            transform: rotateY(0deg);
            background: #02b3e4;
            transition: background 0.2s linear 0.15s, transform 0.3s ease-in-out, font-size 0s linear 0.15s;

            i.fa {
                transform: rotateY(0deg);
            }
        }

        &.match {
            cursor: default;
            background: #02ccba;
            animation: dance 1s ease-in-out 0.15s 1;
        }

        &.wrong {
            background: #e02d2d;
            animation: shake 1s ease-in-out 0.3s 1;
        }
    }
}

/*=================================
 *
 *   Styles for the Score Panel
 *
 ================================*/

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;

    .stars {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 0 5px 0 0;

        li {
            list-style: none;
            display: inline-block;
            transition: opacity 0.2s ease-in;

            &.hide {
                opacity: 0;
            }
        }
    }

    .moves {
        position: relative;
        font-size: 1.4rem;
        top: -4px;
        margin-left: 10px;
        margin-right: 3px;
    }    

    #restart {
        float: right;
        cursor: pointer;   
        font-size: 1.2rem;
        margin-top: 5px;
    }
}

@keyframes shake {
    // Shake function originated from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/

    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

@keyframes dance {
    // Shake function from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/

    10% {
        transform: translate3d(0, 2px, 0) rotate(0deg);
    }
    
    20% {
        transform: translate3d(0, -35px, 0) rotate(-30deg);
    }

    30% {
        transform: translate3d(0, 0, 0) rotate(30deg);
    }

    40% {
        transform: translate3d(0, -24px, 0) rotate(-20deg);
    }

    50%, 70% {
        transform: translate3d(0, 0, 0) rotate(15deg);
    }

    60% {
        transform: translate3d(0, -15px, 0) rotate(-15deg);
    }

    80% {
        transform: translate3d(0, -4px, 0) rotate(-10deg);
    }

    90% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes win {
    0%, 50%, 100% {
        transfrom: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(0, -45px, 0);
    }

    75% {
        transform: translate3d(0, 45px, 0);
    }
}